/*body{
	background: red;
	font-family: Ariel;
	font-size: 14px;
	line-height: 1.4;
	color: #ffffff;
	font-weight: 100px;
}*/
/*.container{
	position: relative;
	max-width: 600px;
	height: auto;
	border:2px solid #ffffff;
	margin: 100px auto;
	padding: 30px;
	box-sizing: border-box;
}*/
/*#box1 {
	width:320px;
	padding:200px;
	margin:0;
	background: red;
	cursor: pointer;
	



}

#box2 {
	width:320px;
	padding:200px;
	margin:0;
	background:#F7DC6F;
	cursor: pointer;
	
}
#box3 {
	width:320px;
	padding:200px;
	margin:0;
	background:#2ECC71;
	cursor: pointer;
	
}


#box4 {
	width:320px;
	padding:200px;
	margin:0;
	background:#1D8348;
	cursor: pointer;
	
}*/